{% extends 'base.html' %}

{% block content %}
<style>
  .card {
    margin: auto;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

  }
  .card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.589);
  }
  
  html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}
  h1 {
    text-align: center;
  }
  .d-inline p-2 bg-primary text-white{
    text-align: center;
  }


</style>

 

  
  <nav class="navbar navbar-dark bg-primary">
    <div style = "padding: 10px;">
      <a class="navbar-brand" href="#">Tugas 6 PBP</a>
    </div>
      <span class = "ms-auto mb-2 mb-lg-0">
        <div style = "padding: 10px;">
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
            Create Task
          </button>
          <a class="btn btn-danger" href="{% url 'todolist:logout' %}" role="button">Logout</a>
        </div>
      </span>
  
  </nav>
  
  <h1 class="display-4">Selamat datang, {{user}}!</h1>

  <br>
  <br>
  <div class = "container">
    <div class = "row" id = "task_obj">
      
    </div>
  </div>



<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Create Task</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form id = "form" onsubmit="return false;">
      <div class="modal-body">
          {% csrf_token %}
          <div class="form-outline form-white mb-4">
              <input type="text" name="title" placeholder="Title" class="form-control">
              <label>Title</label>
          </div>

          <div class="form-outline form-white mb-4">
              <input type="text" name="description" placeholder="Description" class="form-control">
              <label>Description</label>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button id = "button" type="button" class="btn btn-primary">Add task</button>
          </div>
      </div>
      </form>
    </div>
  </div>
</div> 
  
  
  <br>
  <br>
  <div class="d-inline p-2 bg-primary text-white">
    Sesi terakhir login: {{ last_login }}
  </div>

<script>
  const url = "{% url 'todolist:todolist' %}"
  async function getTask() {
    return fetch("{% url 'todolist:show_json' %}").then((res) => res.json())
  }

  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== "") {
        const cookies = document.cookie.split(";");
        for (let i = 0; i < cookies.length; i++) {
          const cookie = cookies[i].trim();
          // Does this cookie string begin with the name we want?
          if (cookie.substring(0, name.length + 1) === name + "=") {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
          }
        }
      }
      return cookieValue;
  }

  async function refreshTask() {
    document.getElementById("task_obj").innerHTML = ""
    const task = await getTask()
    let htmlString = ""
    task.forEach((item) => {
      
      htmlString += ` 
      <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12">
        <div class="card" style="width: 18rem;">
          <h5 class="card-header">${item.fields.title}</h5>
          <div class="card-body">
              
              <h5 class="card-title">${item.fields.description}</h5>
              <p class="card-text">${item.fields.date}</p>
              <p class="card-text">Status Penyelesaian: ${Boolean(item.fields.is_finished)}</p>
              <button type="button" class="btn btn-success" id ="buttonFinished" onclick = "changeFinished(${item.pk})">Selesai</button> 
              <button type="button" class="btn btn-success" onclick = "changeNotFinished(${item.pk})">Belum Selesai</a>
              <button type="button" class="btn btn-danger" id ="buttonDelete" onclick = "deleteTask(${item.pk})">Hapus</button>
              
          </div>
        </div>
      </div>`
    })
    document.getElementById("task_obj").innerHTML = htmlString
  }

  function addTask() {
   
    fetch("{% url 'todolist:add_task_item' %}", {
      method: "POST",
      body: new FormData(document.querySelector('#form'))
    }).then(refreshTask)
    return false
  }

  async function deleteTask(id) {
    
    fetch(`${url}delete/${id}`, {
      method: 'DELETE',
      headers: {
      "Content-type": "application/json",
      "X-CSRFToken": getCookie("csrftoken"),
      }
    }).then(refreshTask)
  }

  async function changeFinished(id) {
    fetch(`${url}${id}/selesai`, {
      
    }).then(refreshTask)
  }

  async function changeNotFinished(id) {
    console.log(`${url}${id}/belum-selesai`)
    fetch(`${url}${id}/belum-selesai`, {
      
    }).then(refreshTask)
  }
  document.getElementById("button").onclick = addTask
  
  refreshTask()
  

</script>



{% endblock content %}